name: tests&lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        pip install poetry
        make install
        make update
    - name: Run linter and pytest
      run: |
        poetry run flake8 gendiff
        poetry run pytest tests
    - name: Test & publish code coverage
      uses: paambaati/codeclimate-action@v5.0.0
      if: github.ref_name == 'main'
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.HEXLET_ID }}
      with:
        coverageCommand: make coverage
        debug: true
