name: tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run:
        pip install poetry
        poetry update
        make build
        make package-install

    - name: Run check
      run: 
       make lint

    - name: Run tests
      run: make test
