name: tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Poetry
      run:
       pip install poetry

    - name: Install dependencies
      run:
        pip install pytest
        pip install pytest-cov
        pip install flake8

    - name: Install
      run:
        make build
        make package-install

    - name: Run check
      run: 
       make lint

    - name: Run tests
      run:
       make test
